<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Meditation</title>
    <link rel= "stylesheet" type="text/css" href="intro.css">
  </head>
  <body>
    <div class="circle_box">
      <div class="circle" id="clicker">
      </div>
    </div>
    <script>
      document.getElementById('clicker').addEventListener('click',function() {
            var c = document.getElementsByClassName('circle');
            for (var i = 0; i < c.length; i++) {
  	            c[i].classList.add('animate');
            }
        })
    </script>
  </body>
</html>