<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Meditation</title>
    <link rel= "stylesheet" type="text/css" href="intro.css">
  </head>
  <body>
    <div class="circle_box">
      <div class="circle" id="clicker">
      </div>
    </div>
<<<<<<< HEAD
    <audio controls loop>
        <source src="../src/background_music_final.mp3" type="audio/mpeg">
    </audio>
=======
    <script>
      document.getElementById('clicker').addEventListener('click',function() {
            var c = document.getElementsByClassName('circle');
            for (var i = 0; i < c.length; i++) {
  	            c[i].classList.add('animate');
            }
        })
    </script>
>>>>>>> 98cafc5548e141c0725540e7125b568b010c7a41
  </body>
</html>